/var/*
/media/*
/media_old/*
/downloader/pearlib/cache/*
/downloader/pearlib/download/*
/nbproject/*
/eclipse/*
/dev/*
/vendor/*
.project
.vagrant
.DS_Store
.sass-cache/
.idea/*
/app/code/local/Optimiseinternetlimited/*
/app/etc/modules/Optimiseinternetlimited_Commercebug.xml
/skin/frontend/commercebug/*
/skin/frontend/enterprise/betterbathrooms/css/*
/skin/frontend/enterprise/mobile/css/*
/skin/frontend/enterprise/bb-newtheme/css/*
_log/*
conversion/*/*
feeds/*
app/etc/disabled/*
skin/frontend/enterprise/betterbathrooms/js/global-ck.js
skin/frontend/enterprise/betterbathrooms/js/space48-checkout-ck.js
skin/frontend/enterprise/betterbathrooms/js/space48/questions-ck.js
skin/frontend/enterprise/betterbathrooms/js/multizoom-ck.js

#####Logs#####
logs
*.log

#####Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)#####
.grunt

#####Compiled binary addons (http://nodejs.org/api/addons.html)#####
build/Release

#####Dependency directory#####
node_modules

